html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    background: white;
}

a {
    cursor: pointer;
}

.layout {
    display: block;
    min-height: 0;
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.rowFlex {
    display: flex;
    align-items: center;
}

.paddingSides {
    padding: 0 15px;
}

.HoulgateFest {
}

.HoulgateFest .connectionModal {
    width: 280px;
    right: 0;
    position: fixed;
    top: 62px;
    z-index: 1000;
}

.HoulgateFest .connectionModal .loginForm {
    margin: auto;
    max-width: calc(100% - 2em);
}

/* Countdown */

.HoulgateFest .Countdown {
    text-align: center;
    margin: 10px auto;
    padding-bottom: 20px;
    font-size: 20px;
}

.HoulgateFest .CountdownCol {
    display: inline-block;
}

.HoulgateFest .CountdownColElement {
    display: inline-block;
    margin: 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
