html,
body {
	height: calc(100% - 4px);
	margin: 0 2px 0 2px;
	width: calc(100% - 4px);
	font-size: 14px;
	min-width: 715px;
}

ul {
    margin: 0
}

.HoulgateFest {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
/* LOoove <3 */

.fullHeight {
	height: 100%;
}

.fullWidth {
	width: 100%;
}
