html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
}

.HoulgateFest {
}

/* LOoove <3 */

.layout {
    display: block;
    min-height: 0px;
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.shadowMenu {
    position: fixed;
    box-shadow: 0 0 20px rgba(0,0,0,.15) !important;
    border-bottom: 1px solid #DDDDDD !important;
    padding: 0em 0em;
    top: 0px;
    z-index: 500;
    background: #ffffff !important;
}