html {
    box-sizing: border-box;
    font-size: 17px;
}

body {
    margin: 0;
    height: 100%;
    background: white;
}

a {
    cursor: pointer;
    outline: 0;
}

.layout {
    display: block;
    min-height: 0;
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.rowFlex {
    display: flex;
    align-items: center;
}

.paddingSides {
    padding: 0 15px;
}

.HoulgateFest {
    font-family: Copperplate, Alegreya SC, serif;
    min-width: 500px;
    text-align: justify;
}

/* Shotgun */

.HoulgateFest .allFloors {
    width: calc(100vw - 20px);
    justify-content: center;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.HoulgateFest .bigFloorContainer {
    margin: 0 5px 0 5px;
    position: relative;
    width: calc(35% - 10px);
    min-width: 400px;
    min-height: 400px;
}

.HoulgateFest .smallFloorContainer {
    margin: 0 5px 0 5px;
    position: relative;
    width: calc(15% - 10px);
    min-width: 200px;
    min-height: 400px;
}

.HoulgateFest .floorTitle {
    text-align: center;
    font-size: 19px;
}

/* Shotgun Modal */

.HoulgateFest .ShotgunModal {
    width: 100%;
    left: 0;
    position: fixed !important;
    bottom: 0;
    z-index: 1000;
}

/* Connection Modal */

.HoulgateFest .ConnectionModal {
    width: 280px;
    right: 0;
    position: fixed !important;
    top: 75px;
    z-index: 1000;
}

.HoulgateFest .ConnectionModal .loginForm {
    margin: auto;
    max-width: calc(100% - 2em);
}

/* Countdown */

.HoulgateFest .Countdown {
    text-align: center;
    margin: 10px auto;
    padding-bottom: 20px;
    font-size: 20px;
}

.HoulgateFest .CountdownCol {
    display: inline-block;
}

.HoulgateFest .CountdownColElement {
    display: inline-block;
    margin: 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.HoulgateFest .viewerText {
    padding-left: 30px;
    font-size: 20px;
}

/* Semantic ui fixes */

.ui.inverted.menu .item a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.smalltext {
    font-size: 0.85em;
}
